* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// svg {
//     cursor: pointer;
//     transition: 200ms;
    
//     &:hover {
//         color: #a4ce6a;
//     }
// }

// ::selection {
//     background: #ffcc00; 
//     color: #000; 
// }
.app {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}